<div id="disp" style="width:150px; height:150px; padding:10px; border:1px solid" 
                                        ondragover="onDragOver(event)" ondrop="onDrop(event)" >
</div>
<div id="path" ></div>